body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100dvh;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.container {
  height: 100dvh;
  background-color: #000000;
}

.container .titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  height: 40px;
}
.container .botones-titutlo {
  padding-top: 20px;
  color: #c9c7c7;
  text-align: center;
}

.lista-botones {
  margin-top: 30px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 30px;
}
.lista-botones button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
}
.lista-botones p {
  margin-top: 20px;
  color: #ffffff;
}
